/_OOBE_/CONFIG/Windows_Defender_Exclusion_List.txt
/_OOBE_/DRIVERS/*
/Game_SnowRunner_Logistics/*.bak
/Game_SnowRunner_Logistics/Maps/*.rar
/Lib/FindClick.pdf
/Steam_Epic_URL_Converter/Steam_Epic_URL_Converter.exe
/AdvancedRun.exe
/Credentials.csv
/ntfy.exe
/Testing*.ahk
