/Game_Captain_of_Industry/Update_2/Blueprints/daxfb-calculator
/Game_SnowRunner/Logistics/*.bak
/Game_SnowRunner/Logistics/Maps/*.rar
/Lib/*.pdf
/Steam_Epic_URL_Converter/*.exe
/Services/*.exe
/Services/*.lnk
/*.exe
/Credentials.csv
/Testing*.ahk
